<div id="<%= dom_id task %>", class = "each-task same-line">
  <div>
    <strong><%= task.title %></strong>
    <p>
      <br>
      <%= link_to "Update Task", task, class: "btn btn-light" %>
    </p>
  </div>
  <div>
    <%if task.completed%>
      <div class="form-check">
        <input class="form-check-input check-box" type="checkbox" value= "" id="flexCheckIndeterminate" checked>
        <label class="form-check-label" >
          Completed
        </label>
        <%= button_to "Done", task, method: :delete, class: "btn btn-secondory", id: "auto-click"%>
      </div>
    <%else%>
      <div class="form-check">
        <%# <input class="form-check-input check-box" type="checkbox" value= "" id="flexCheckIndeterminate" >
        <label class="form-check-label" >
          Completed
        </label> %>
        <br/>
        <%= button_to "Done", task, method: :delete, class: "btn btn-success", id: "auto-click" %>
      </div>
    <%end%>
  </div>
</div>
